.slider .btn {
  margin-top: 20px;
}

.section-search input {
  padding: 5px !important;
  font-size: 18px !important;
  width: 90% !important;
  border: #f4f4f4 3px solid !important;
}

.section-follow .fa-4x {
  margin: 5px 10px;
}

.section-contact h5 {
  margin-bottom: 30px;
}
span.error {
    color: red;
    font-size: 11px;
    position: absolute;
    top: 44px;
}

@media only screen and (max-width: 375px) {
  .brand-logo {
    font-size: 20px !important;
  }

  .gallery-img{
    margin-bottom: 20px;
  }
}
